<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qvault Hackathon 2022</title>
  <link rel="stylesheet" href="css/main.css">
  <script type="module" src="js/main.js" defer></script>
</head>
<body>
  <header>
    
  </header>
  <main>
    <div class="container">
      <header id="grid-header">
        <h1>Lo-Jack Swing</h1>
        <div id="instructions">
          <p>Click around</p>
          <button id="stop">Stop Sounds</button>
        </div>
      </header>
      <div class="grid">
        <div id="btn1"></div>
        <div id="btn2"></div>
        <div id="btn3"></div>
        <div id="btn4"></div>
        <div id="btn5"></div>
        <div id="btn6"></div>
        <div id="btn7"></div>
        <div id="btn8"></div>
        <div id="btn9"></div>
        
      </div>
    </div>
  </main>
  <footer></footer>

  
</body>
</html>