body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  height: 80%;
  /* outline: 1px solid red; */
}
#grid-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.grid div:nth-of-type(1):hover {
  background-color: hsl(36, 50%, 50%);
}
.grid div:nth-of-type(1):active {
  background-color: hsl(36, 50%, 50%);
}

.grid div:nth-of-type(2):hover {
  background-color: hsl(72, 50%, 50%);
}
.grid div:nth-of-type(3):hover {
  background-color: hsl(108, 50%, 50%);
}
.grid div:nth-of-type(4):hover {
  background-color: hsl(144, 50%, 50%);
}
.grid div:nth-of-type(5):hover {
  background-color: hsl(180, 50%, 50%);
}
.grid div:nth-of-type(6):hover {
  background-color: hsl(216, 50%, 50%);
}
.grid div:nth-of-type(7):hover {
  background-color: hsl(252, 50%, 50%);
}
.grid div:nth-of-type(8):hover {
  background-color: hsl(288, 50%, 50%);
}
.grid div:nth-of-type(9):hover {
  background-color: hsl(324, 50%, 50%);
}